@import '../../style/variable.scss';

.footer {
    address {
        color: #DADADA;
        letter-spacing: 0.18px;
    }


    .social {
        a {
            color: #fff;
            transition: 0.2s all ease-in;
            opacity: 0.7;
            @include lg {
                font-size: size(24);
            }
            &:hover {
                opacity: 1;
            }
        }
    }

    :global(.input-group) {
        max-width: 500px;

        input {
            &::placeholder {
                color: rgba(255, 255, 255, 0.502);
            }
        }
    }

    

    .nav {
        &_link {
            color: #9CA8BB;
            transition: 0.3s all ease;
            display: block;
            padding: 5px 0;

            @include lg {
                padding: size(5) 0;
            }

            span {
                font-size: 17px;
                margin-right: 10px;

                @include lg {
                    margin-right: size(20);
                    font-size: size(28);
                }
            }

            &:hover {
                color: #fff;
            }
        }
    }

    &_nav {
        ul {
            list-style: none;

        }
    }
}

.subscribe_wrap {
    margin-bottom: size(50);
    @include lg {
        margin-bottom: size(96);
    }
}