@import "../../style/variable.scss";

.section {
  padding: 60px 0 30px;
  min-height: 100svh;

  @include lg {
    min-height: 100vh;
    padding: 100px 0 30px;
  }

  :global(.container) {
    @include min(2000) {
      max-width: 90%;
    }
  }
}

.shape {
  width: 100%;
  --bs-aspect-ratio: 67%;
  z-index: 1;
  pointer-events: none;
  top: 30%;
  left: 0;
  @include lg {
    width: 80%;
    top: 10%;
  }
}

.model_wrap {
  position: absolute;
  width: 80%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  clip-path: inset(0% 6% 6% 6% round 30px);
  @include lg {
    top: initial;
    bottom: 0;
  }
}

.reality {
  --bs-aspect-ratio: 16%;
}

.card {
  &_icon {
    --size: 32px;
    width: var(--size);
    height: var(--size);
  }
}

.pf_sm {
  width: 35px;
  // opacity: 0;
  border: 3px solid $secondary;

  @include lg {
    width: size(50);
  }

  &:not(:first-of-type) {
    margin-left: -9%;
  }
}

.pf_wrap {
  margin-left: 21px;
}

.fade,
.shape {
  opacity: 0;
  will-change: transform, opacity;
}

.link {
  p {
    font-size: 32px;
    line-height: 1.5;
  }
  span{
    width: 67px;
    height: 67px;
    font-size: 18px;
  }
}
