@import "../../style/variable.scss";

.card {
  --bg: rgba(0, 0, 0, 0);
  background-color: var(--bg);
  border-radius: 20px;
  padding: 22px 20px 33px;
  border: 1px solid transparent;
  transition: 0.5s all ease;
  transform: translateY(0);

  @include lg {
    border-radius: size(34);
    padding: size(30) size(26) size(30);
  }
  .title {
    margin-bottom: 32px;
    font-style: italic;
    line-height: 1.5;
    max-width: 200px;
  }

  &:hover {
    --bg: rgba(0, 0, 0, 0.058);
    border-color: $light;
    transform: translateY(-10%);

  }
}
