@import "../../style/variable.scss";

.btn {
  --bg: #fff;
  --color: #000;

  &_label {
    background-color: var(--bg);
    color: var(--color);
    padding: 12px 17px;
    transition: 0.4s all ease;
  }

  &_icon {
    background-color: var(--bg);
    color: var(--color);
    padding: 8px 12px;
    transition: 0.4s all ease;
  }
  &:hover {
--bg: #{$primary};
--color: #{$white};
  }
}